/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json

organizations/fabric-ca/ordererOrg/*
!organizations/fabric-ca/ordererOrg/fabric-ca-server-config.yaml

organizations/fabric-ca/patient/*
!organizations/fabric-ca/patient/fabric-ca-server-config.yaml

organizations/fabric-ca/doctor/*
!organizations/fabric-ca/doctor/fabric-ca-server-config.yaml

organizations/ordererOrganizations/*
organizations/peerOrganizations/*

system-genesis-block/*
*.tar.gz
log.txt
